<%- include("partials/header") %>

<section class="container-fluid px-0">
        <div class="row align-items-center">
          <div class="col-lg-12">
            <div id="headingGroup" class="text-black text-center mt-5">
               <h1 class="display-1">About Me</h1>
             </div>
          </div>
        </div>
    </section>

    <section>
      <div class="row text-center align-items-center content">
        <div class="col-md-6 order-2 order-md-1">
          <img src="/imgs/me.jpg" class="img-fluid">
        </div>
        <div class="col-md-6 order-1 order-md-2 blurb mb-5 mb-md-0">
          <div class="row justify-content-center">
            <div class="col-10 col-8-lg pb-3">
               <h2>California State University - Channel Islands</h2>
              <img src="imgs/csuci.png" class="d-none d-lg-inline py-3">
              <p class="lead">MAY 2020</p>
              <p class="lead">I graduated with my Bachelor's in Organizational Communication with an emphasis in Nonprofit Business 								  Management.</p>
            </div>
          </div>
        </div>
      </div>
    </section>

  <hr>

  <section>
      <div class="row text-center align-items-center content">
        <div class="col-md-6 order-1 order-md-1 my-5">
          <h2 id="certifLine" class="display-4 text-black text-decoration-">Certifications</h2>
        </div>
        <div class="col-md-6 order-2 order-md-2 blurb mb-md-0 my-5">
          <div class="row justify-content-center">
            <div class="col-10 col-8-lg text-center">
              <h3 class="text-center pt-3">Udemy - 2020</h3>
               <p>- The Web Devloper Bootcamp  <a href="https://www.udemy.com/certificate/UC-0c61f40b-f444-44cc-b500-eeddbc8b8d7d/?utm_source=sendgrid.com&utm_medium=email&utm_campaign=email"><i class="fas fa-arrow-right"></i></a></p>
               <p>- The Complete SQL Bootcamp <i class="fas fa-arrow-right"></i> (In progress)</p>
               <p>- Advanced CSS and Sass: Flexbox, Grid, and Animations <i class="fas fa-arrow-right"></i> (In progress)</p>
            </div>
          </div>
        </div>
      </div>
    </section>

    <hr>

    <section class="container-fluid px-0">
        <div class="row align-items-center">
          <div class="col-lg-12">
            <div id="headingGroup" class="text-black text-center mt-5">
               <h1 class="display-1">Work Experience</h1>
               <p id="explain" class="container text-center pt-3">Over the past five years, my directions have changed. I started working in the natural foods industry and ended up making a name for myself. I worked hand-in-hand with some of the largest natural foods suppliers in the Southern California Area. Four and a half years later, I am fell into recruiting. It has been a journey learning more about tech and everything that comes with being in an industry like this. I am excited to be here and always open to my next opportunity!</p>
             </div>
          </div>
        </div>
    </section>

    <section class="container-fluid px-0 pb-3 pt-5">
        <div class="row align-items-center">
          <div class="col-lg-12">
            <div id="ttvLink" class="text-black text-center mt-5 ">
               <a href="http://toptechventures.com/" class="display-4 text-decoration-none text-black">TopTech Ventures</a>
               <h3 class="display-5 pt-3">Senior Technical Recruiter</h3>
               <p class="lead py-3">Sherman Oaks, CA</p>
               <p class="lead">October 2019 - August 2020</p>
               <div class="container text-center pt-5 py-3">
                 <p>- Updated and maintained accurate candidate tracking system for better organization (JobAdder/Greenhouse).</p>
                 <p>- Screened resumes for candidate quality and qualifications for upwards of 50 roles from different companies.</p>
                 <p>- Work cross functionally with other recruiters and hiring managers on urgent/hot roles.</p>
                 <p>- Use direct sourcing strategies (LinkedIn Recruiter, Monster Job Boards, email, phone, referrals, etc.).</p>
                 <p>- Schedule/conduct initial/technical interviews with up to 30 candidates a day.</p>
               </div>
             </div>
          </div>
        </div>
    </section>
<hr>
    <section class="container-fluid px-0 py-3">
        <div class="row align-items-center">
          <div class="col-lg-12">
            <div id="vintageLink" class="text-black text-center mt-5 ">
               <a href="https://www.vintagegrocers.com/" class="display-4 text-decoration-none text-black">Vintage Grocers</a>
               <h3 class="display-5 pt-3">Produce Buyer</h3>
               <p class="lead py-3">Malibu, CA</p>
               <p class="lead">August 2018 - October 2019</p>
               <div class="container text-center pt-5 py-3">
                 <p>- Oversaw team of 6-7 employees in department bringing in over $1,000,000 in yearly revenue.</p>
                 <p>- Monitored supplier operations to verify quality, delivery schedule and conformance to contract specifications.</p>
                 <p>- Priced produce to achieve margin and sales goals while maintaining a competitive pricing profile.</p>
                 <p>- Participated in monthly inventory counts and conducted inventories.</p>
                 <p>- Screened resumes (through Paycom), scheduled/conducted interviews, trained and coached new team members and assisted in the on-boarding process.</p>
               </div>
             </div>
          </div>
        </div>
    </section>

<hr>

    <section class="container-fluid px-0 py-3">
        <div class="row align-items-center">
          <div class="col-lg-12">
            <div id="lassensLink" class="text-black text-center mt-5 ">
               <a href="https://www.lassens.com/" class="display-4 text-decoration-none text-black">Lassens Natural Foods and Vitamins</a>
               <h3 class="display-5 pt-3">Produce/Bulk Foods Manager</h3>
               <p class="lead py-3">Thousand Oaks, CA</p>
               <p class="lead">February 2015 - August 2018</p>
               <div class="container text-center pt-5 py-3">
                 <p>- Oversaw team of 1-2 employees in department bringing in over $350,000 in yearly revenue.</p>
                 <p>- Coordinated efficient restocking of merchandise to meet customer needs and promote consistent sales.</p>
                 <p>- Planned attractive displays and ensured all displays were replenished.</p>
                 <p>- Received produce deliveries and unloaded produce.</p>
                 <p>- Screened resumes (through BambooHR/ADP), scheduled/conducted interviews, trained, and coached new team members while also assisting in the on-boarding process.</p>
               </div>
             </div>
          </div>
        </div>
    </section>

<%- include("partials/footer") %>
