<%- include("partials/header") %>

<section class="container-fluid px-0">
        <div class="row align-items-center">
          <div class="col-lg-12">
            <div id="headingGroup" class="text-black text-center mt-5">
               <h1 class="display-1">About Me</h1>
             </div>
          </div>
        </div>
    </section>

    <section>
      <div class="row text-center align-items-center content">
        <div class="col-md-6 order-2 order-md-1">
          <img src="/imgs/me.jpg" class="img-fluid">
        </div>
        <div class="col-md-6 order-1 order-md-2 blurb mb-5 mb-md-0">
          <div class="row justify-content-center">
            <div class="col-10 col-8-lg pb-3">
               <h2>California State University - Channel Islands</h2>
              <img src="imgs/csuci.png" class="d-none d-lg-inline py-3">
              <p class="lead">I graduated with my Bachelor's in Organizational Communication with an emphasis in Nonprofit Business 								  Management.</p>
            </div>
          </div>
        </div>
      </div>
    </section>



    <hr>

    <section class="container-fluid px-0">
        <div class="row align-items-center">
          <div class="col-lg-12">
            <div id="headingGroup" class="text-black text-center mt-5">
               <h1 class="display-1">Work Experience</h1>
               <p id="explain" class="container text-center pt-3">Over the past 7 years, I have worked on building technical and non-technical teams at Series A to Series C startups. I have worked closely with Full-Stack Engineering, Product, Design Security, AI/ML and Data teams hiring from intern to C-Suite. Outside of Technical Recruiting, I also do non-technical as well. I have worked with G&A, Finance, Marketing, Operations, Customer Success, Customer Experience and Clinical hiring (RNs, NPs, PA, DOs, MDs). I am excited for whatever comes next!</p>
             </div>
          </div>
        </div>
    </section>

    <hr>

    <section class="container-fluid px-0 pb-3 pt-3">
        <div class="row align-items-center">
          <div class="col-lg-12">
            <div id="ttvLink" class="text-black text-center mt-5 ">
               <a href="https://remedymeds.com/" class="display-4 text-decoration-none text-black">Remedy Meds</a>
               <h3 class="display-5 pt-3">Lead Recruiter</h3>
               <p class="lead py-3">January 2026 - Present</p>
               <h3 class="display-5 pt-3">Senior Technical Recruiter</h3>
               <p class="lead py-3">January 2025 - January 2026</p>
               <h3 class="display-5 pt-3">Technical Recruiter</h3>
               <p class="lead py-3">January 2022-January 2025</p>
               <p class="lead">Remote, US</p>
               <p class="lead"><a href="https://thirtymadison.com/" class="lead">Thirty Madison</a> was acquired by Remedy Meds in late 2025.</p>
               <div class="container text-center pt-3 py-3">
                 <p>- Full cycle end-to-end recruitment in a high-growth startup managing all technical and non-technical corporate roles from intern to c-suite level as well as all clinical hiring through our medical entity (KMG)</p>
                 <p>- Partnered with technical and non-technical department leaders to create and implement the interview process/expectations for all interviews</p>
                 <p>- Retained a 95% acceptance rate through high volume and specialized hires with over 300 hires during my tenure</p>
                 <p>- Handle candidate experience from being sourced to the end of their first week (recruit, source, coordinate, offer and onboard)</p>
                 <p>- Acted as an adhoc HRBP to new and seasoned technical leaders on talent strategies, organizational development, headcount and coaching/training around people leadership</p>
                 <p>- Created, led and implemented company wide People Leadership, Interviewer and Hiring Manager trainings quarterly</p>
                 <p>- Led the creation and implementation of the onboarding process in partnership with People Operations and IT</p>
               </div>
             </div>
          </div>
        </div>
    </section>

    <hr>  

    <section class="container-fluid px-0 pb-3 pt-3">
        <div class="row align-items-center">
          <div class="col-lg-12">
            <div id="ttvLink" class="text-black text-center mt-5 ">
               <a href="https://artera.io/" class="display-4 text-decoration-none text-black">Artera</a>
               <h3 class="display-5 pt-3">Technical Recruiter</h3>
               <p class="lead py-3">September 2020 - January 2022</p>
               <p class="lead">Remote, US</p>
               <div class="container text-center pt-3 py-3">
                 <p>- Work directly with hiring managers and c-suite to create recruitment strategies, interview flows and job descriptions as well as providing coaching and training for new and experienced people leaders</p>
                 <p>- Recruit, source and coordinate for upwards of 15 technical roles</p>
                 <p>- Grew the overall team from 85 to over 300 with 56 engineering hires total and specifically 19 engineering hires in Q4 2021</p>
                 <p>- Consistently hit sourcing goals of 100-200 reach outs per role per week via LinkedIn Recruiter</p>
               </div>
             </div>
          </div>
        </div>
    </section>

    <hr>

    <section class="container-fluid px-0 pb-3 pt-3">
        <div class="row align-items-center">
          <div class="col-lg-12">
            <div id="ttvLink" class="text-black text-center mt-5 ">
               <a href="http://toptechventures.com/" class="display-4 text-decoration-none text-black">TopTech Ventures</a>
               <h3 class="display-5 pt-3">Senior Technical Sourcer</h3>
               <p class="lead py-3">Sherman Oaks, CA</p>
               <p class="lead">October 2019 - September 2020</p>
               <div class="container text-center pt-3 py-3">
                 <p>- Updated and maintained accurate candidate tracking system for better organization (JobAdder/Greenhouse).</p>
                 <p>- Screened resumes for candidate quality and qualifications for upwards of 50 roles from different companies.</p>
                 <p>- Work cross functionally with other recruiters and hiring managers on urgent/hot roles.</p>
                 <p>- Use direct sourcing strategies (LinkedIn Recruiter, Monster Job Boards, email, phone, referrals, etc.).</p>
                 <p>- Schedule/conduct initial/technical interviews with up to 20+ candidates a day.</p>
               </div>
             </div>
          </div>
        </div>
    </section>

<hr>

  <section>
      <div class="row text-center align-items-center content">
        <div class="col-md-6 order-1 order-md-1 my-5">
          <h2 id="certifLine" class="display-4 text-black text-decoration-">Certifications</h2>
        </div>
        <div class="col-md-6 order-2 order-md-2 blurb mb-md-0 my-5">
          <div class="row justify-content-center">
            <div class="col-10 col-8-lg text-center">
              <h3 class="text-center pt-3">Udemy</h3>
               <p>- The Web Devloper Bootcamp  <a href="https://www.udemy.com/certificate/UC-0c61f40b-f444-44cc-b500-eeddbc8b8d7d/?utm_source=sendgrid.com&utm_medium=email&utm_campaign=email"><i class="fas fa-arrow-right"></i></a></p>
               <p>- The Complete SQL Bootcamp <a href="https://www.udemy.com/certificate/UC-86c6960f-6408-4aa6-84c8-248b4fc8c0fc/"><i class="fas fa-arrow-right"></i></a></p>
            </div>
          </div>
        </div>
      </div>
  </section>

  <hr>

  <section>
    <div class="row text-center align-items-center content">
      <div class="col-md-3 order-2 order-md-1 py-3">
			  <h3>General Skills</h3>
			  <li>Technical Recruiting</li>	  
			  <li>Technical Sourcing</li>	  
			  <li>Public Speaking</li>	  
			  <li>Interpersonal Communication</li>	  
			  <li>Hiring and Training</li>	  	  
      </div>
		  <div class="col-md-3 order-2 order-md-1 py-3">
			  <h3>Office Skills</h3>	  
			  <li>Greenhouse/Ashby/Lever</li>	  
			  <li>LinkedIn Recruiter/Gem</li>	  
			  <li>Claude</li>	  
			  <li>Microsoft Office</li>	  
			  <li>Google Suite</li>	  
      </div>
		  <div class="col-md-3 order-2 order-md-1 py-3">
			  <h3>Frontend</h3>	  
			  <li>Javascript</li>
			  <li>Phoenix</li>
			  <li>Phoenix/LiveView</li>
        <li>TailWind</li>
			  <li>HTML</li>
			  <li>CSS</li>	  
      </div>
		  <div class="col-md-3 order-2 order-md-1 py-3">
			  <h3>Backend</h3>	
        <li>Elixir</li>  
			  <li>Node.js</li>
			  <li>Express</li>
			  <li>MongoDB</li>
			  <li>SQL</li>
			  <li>PostgreSQL</li>	  
        </div>
    </div>
  </section>


<%- include("partials/footer") %>
