<%- include("partials/header") %>

    <section class="container-fluid px-0 pt-5" id="intro">
      <div class="row align-items-center">
        <div class="col-lg-12">
            <div id="headingGroup" class="text-black text-center mt-5">
               <h1 class="display-1">I'm Josh</h1>
            </div>
        </div>
      </div>
      </section>

    <section class="container-fluid px-0 py-5" id="intro">
      <div class="row justify-content-around">
        <div class="col-lg-2 col-sm-2">
          <img src="/imgs/flower-purp.jpg" id="pic" class="composition img-fluid img-thumbnail rounded-circle d-none d-sm-inline">
        </div>
        <div class="col-lg-2 col-sm-2">
          <img src="/imgs/hawaii.jpg" id="pic" class="composition img-fluid img-thumbnail rounded-circle d-none d-sm-inline">
        </div>
        <div class="col-lg-2 col-sm-2">
          <img src="/imgs/snow.jpg" id="pic" class="composition img-fluid img-thumbnail rounded-circle d-none d-sm-inline">
        </div>
		<div class="col-lg-2 col-sm-2">
          <img src="/imgs/flower-white.jpg" id="pic" class="composition img-fluid img-thumbnail rounded-circle d-none d-sm-inline">
        </div>
		<div class="col-lg-2 col-sm-2">
          <img src="/imgs/sky.jpg" id="pic" class="composition img-fluid img-thumbnail rounded-circle d-none d-sm-inline">
        </div>
      </div>

      <div class="container text-center px-0 pt-5">
        <p id="explain" class="py-3">Hi, Im Josh, and I am a hard working business professional that is always open for my next challenge. I love learning, taking photos (check out my photography page), being outside skateboarding and hiking.</p>
		<p id="explain" class="py-3">I made this portfolio with Javascript, HTML, CSS, and Bootstrap!</p>
      </div>
    </section>

<hr>

	<section class="container-fluid px-0 py-3" id="intro">
      <div class="row align-items-center">
        <div class="col-lg-12">
            <div id="headingGroup" class="text-black text-center mt-5">
               <h1 class="display-1">Personal Projects</h1>
            </div>
        </div>
      </div>
    </section>

<section>
      <div class="row text-center align-items-center content">
        <div class="col-md-6 order-2 order-md-1 px-3 py-3">
			<div class="card">
	 			<img class="card-img-top" src="imgs/VCSB-cover.png" alt="Card image cap">
	 			<div class="card-body">
	 				<h5 class="card-title">VCSB</h5>
	 				<p class="card-text">This is one of my personal projects I created where logged in users can post, comment, edit, and 						delete skatepark posts.</p>
	 				<p>Created with Javascript, HTML, CSS, Bootstrap, jQuery, Node, Express, and MongoDB</p>
	 				<a href="https://vcsb.herokuapp.com/" class="btn btn-primary">Enter</a>
	 			</div>
			</div>  	  
        </div>
		<div class="col-md-6 order-2 order-md-1 px-3 py-3">
			<div class="card">
	 			<img class="card-img-top" src="imgs/circles-cover.png" alt="Card image cap">
	 			<div class="card-body">
	 				<h5 class="card-title">Patatap Clone</h5>
	 				<p class="card-text">This is a mockup of the actual Patatap website where a user can tap any letter A-Z on the 								keyboard and something will happen. This only works with a keyboard and is not enabled with touch for mobile.</p>
	 				<p>Created with Javascript, HTML, CSS, Paper.js, and Howler.js</p>
	 				<a href="https://patatap-remake.herokuapp.com/" class="btn btn-primary">Enter</a>
	 			</div>
			</div>  
        </div>
      </div>
    </section>
<hr>
	<section class="container-fluid px-0 pt-2" id="intro">
      <div class="row align-items-center">
        <div class="col-lg-12">
            <div id="headingGroup" class="text-black text-center mt-5">
               <h1 class="display-1">Skills</h1>
            </div>
        </div>
      </div>
    </section>
 
<section>
      <div class="row text-center align-items-center content">
        <div class="col-md-3 order-2 order-md-1 py-3">
			<h3>General Skills</h3>
			<li>Technical Recruiting</li>	  
			<li>Technical Sourcing</li>	  
			<li>Public Speaking</li>	  
			<li>Interpersonal Communication</li>	  
			<li>Hiring and Training</li>	  	  
        </div>
		<div class="col-md-3 order-2 order-md-1 py-3">
			<h3>Office Skills</h3>	  
			<li>LinkedIn Recruiter</li>	  
			<li>JobAdder</li>	  
			<li>Greenhouse</li>	  
			<li>Microsoft Office</li>	  
			<li>Google Suite</li>	  
        </div>
		<div class="col-md-3 order-2 order-md-1 py-3">
			<h3>Frontend</h3>	  
			<li>Javascript</li>
			<li>HTML</li>
			<li>CSS</li>
			<li>Bootstrap</li>
			<li>jQuery</li>	  
        </div>
		<div class="col-md-3 order-2 order-md-1 py-3">
			<h3>Backend</h3>	  
			<li>Node.js</li>
			<li>Express</li>
			<li>MongoDB</li>
			<li>SQL</li>
			<li>PostgreSQL</li>	  
        </div>
      </div>
    </section>


<%- include("partials/footer") %>
