<%- include("partials/header") %>

    <section class="container-fluid px-0 pt-5" id="intro">
      <div class="row align-items-center">
        <div class="col-lg-12">
            <div id="headingGroup" class="text-black text-center mt-5">
               <h1 class="display-1">I'm Josh</h1>
            </div>
        </div>
      </div>
      </section>

    <section class="container-fluid px-0 py-5" id="intro">
      <div class="row justify-content-around">
        <div class="col-lg-2 col-sm-2">
          <img src="/imgs/flower-purp.jpg" id="pic" class="img-fluid img-thumbnail rounded-circle d-none d-sm-inline">
        </div>
        <div class="col-lg-2 col-sm-2">
          <img src="/imgs/hawaii.jpg" id="pic" class="img-fluid img-thumbnail rounded-circle d-none d-sm-inline">
        </div>
        <div class="col-lg-2 col-sm-2">
          <img src="/imgs/snow.jpg" id="pic" class="img-fluid img-thumbnail rounded-circle d-none d-sm-inline">
        </div>
		<div class="col-lg-2 col-sm-2">
          <img src="/imgs/flower-white.jpg" id="pic" class="img-fluid img-thumbnail rounded-circle d-none d-sm-inline">
        </div>
		<div class="col-lg-2 col-sm-2">
          <img src="/imgs/sky.jpg" id="pic" class="img-fluid img-thumbnail rounded-circle d-none d-sm-inline">
        </div>
      </div>

      <div class="container text-center px-0 pt-5">
        <p id="explain" class="py-3">Hi, Im Josh, and I am a hard working business professional that is always opegit stn for my next challenge. I love learning, taking photos (check out my photography page), being outside skateboarding and hiking.</p>
		<p id="explain" class="py-3">I made this portfolio with Javascript, HTML, CSS, and Bootstrap!</p>
      </div>
    </section>

<hr>

	<section class="container-fluid px-0 pt-2" id="intro">
      <div class="row align-items-center">
        <div class="col-lg-12">
            <div id="headingGroup" class="text-black text-center mt-5">
               <h1 class="display-1">Skills</h1>
            </div>
        </div>
      </div>
    </section>
 
<section>
      <div class="row text-center align-items-center content">
        <div class="col-md-3 order-2 order-md-1 py-3">
			<h3>General Skills</h3>
			<li>Technical Recruiting</li>	  
			<li>Technical Sourcing</li>	  
			<li>Public Speaking</li>	  
			<li>Interpersonal Communication</li>	  
			<li>Hiring and Training</li>	  	  
        </div>
		<div class="col-md-3 order-2 order-md-1 py-3">
			<h3>Office Skills</h3>	  
			<li>LinkedIn Recruiter</li>	  
			<li>JobAdder</li>	  
			<li>Greenhouse</li>	  
			<li>Microsoft Office</li>	  
			<li>Google Suite</li>	  
        </div>
		<div class="col-md-3 order-2 order-md-1 py-3">
			<h3>Frontend</h3>	  
			<li>Javascript</li>
			<li>HTML</li>
			<li>CSS</li>
			<li>Bootstrap</li>
			<li>jQuery</li>	  
        </div>
		<div class="col-md-3 order-2 order-md-1 py-3">
			<h3>Backend</h3>	  
			<li>Node.js</li>
			<li>Express</li>
			<li>MongoDB</li>
			<li>SQL</li>
			<li>PostgreSQL</li>	  
        </div>
      </div>
    </section>


<%- include("partials/footer") %>
