<%- include("partials/header") %>

    <section class="container-fluid px-0 pt-5" id="intro">
      <div class="row align-items-center">
        <div class="col-lg-12">
            <div id="headingGroup" class="text-black text-center mt-5">
               <h1 class="display-1">I'm Josh</h1>
            </div>
        </div>
      </div>
      </section>

    <section class="container-fluid px-0 py-5" id="intro">
      <div class="row justify-content-around">
        <div class="col-lg-2 col-sm-2">
          <img src="/imgs/flower-purp.jpg" id="pic" class="img-fluid img-thumbnail rounded-circle d-none d-sm-inline">
        </div>
        <div class="col-lg-2 col-sm-2">
          <img src="/imgs/hawaii.jpg" id="pic" class="img-fluid img-thumbnail rounded-circle d-none d-sm-inline">
        </div>
        <div class="col-lg-2 col-sm-2">
          <img src="/imgs/snow.jpg" id="pic" class="img-fluid img-thumbnail rounded-circle d-none d-sm-inline">
        </div>
		<div class="col-lg-2 col-sm-2">
          <img src="/imgs/flower-white.jpg" id="pic" class="img-fluid img-thumbnail rounded-circle d-none d-sm-inline">
        </div>
		<div class="col-lg-2 col-sm-2">
          <img src="/imgs/sky.jpg" id="pic" class="img-fluid img-thumbnail rounded-circle d-none d-sm-inline">
        </div>
      </div>

      <div class="container text-center px-0 pt-5">
        <p id="explain" class="py-3">Hi, Im Josh, this is my portfolio and it was honestly, very fun to make! I have had some coding experience in my past, but I decided to go for it and see what I could do! Feel free to contact me with the links below, and check everything out!</p>
		<p id="explain" class="py-3">I made this portfolio with Javascript, HTML, CSS, and Bootstrap!</p>
      </div>
    </section>

<hr>

	<section class="container-fluid px-0 pt-2" id="intro">
      <div class="row align-items-center">
        <div class="col-lg-12">
            <div id="headingGroup" class="text-black text-center mt-5">
               <h1 class="display-1">Skills</h1>
            </div>
        </div>
      </div>
    </section>
 
<section>
      <div class="row text-center align-items-center content">
        <div class="col-md-6 order-2 order-md-1">
			<li>Technical Recruiting</li>	  
			<li>Technical Sourcing</li>	  
			<li>Public Speaking</li>	  
			<li>Interpersonal Communication</li>	  
			<li>Hiring and Training</li>	  
			<li>LinkedIn Recruiter</li>	  
			<li>JobAdder</li>	  
			<li>Greenhouse</li>	  
			<li>Microsoft Office</li>	  
			<li>Google Suite</li>	  
        </div>
        <div class="col-md-6 order-1 order-md-2 mb-5 mb-md-0">
          <div class="row justify-content-center">
            <div class="col-10 col-8-lg pb-3">
					<li>Javascript</li>
					<li>HTML</li>
					<li>CSS</li>
					<li>Bootstrap</li>
					<li>jQuery</li>
					<li>Node.js</li>
					<li>Express</li>
					<li>MongoDB</li>
					<li>SQL</li>
					<li>PostgreSQL</li>
            </div>
          </div>
        </div>
      </div>
    </section>


<%- include("partials/footer") %>
