<%- include("partials/header") %>


<div class="gallery" id="gallery">
  <div class="mb-3 pics animation all 2">
    <img class="img-fluid" src="/imgs/snow-me.jpg" alt="Card image cap">
  </div>
  <div class="mb-3 pics animation all 1">
    <img class="img-fluid" src="/imgs/jelly-tall.jpg" alt="Card image cap">
  </div>
  <div class="mb-3 pics animation all 1">
    <img class="img-fluid" src="/imgs/sky-edit.jpg" alt="Card image cap">
  </div>
  <div class="mb-3 pics animation all 2">
    <img class="img-fluid" src="/imgs/sf.jpg" alt="Card image cap">
  </div>
  <div class="mb-3 pics animation all 2">
    <img class="img-fluid" src="/imgs/ocean.jpg" alt="Card image cap">
  </div>
  <div class="mb-3 pics animation all 1">
    <img class="img-fluid" src="/imgs/flower-pink.jpg" alt="Card image cap">
  </div>
</div>
<div class="gallery" id="gallery">
  <div class="mb-3 pics animation all 2">
    <img class="img-fluid" src="/imgs/em.jpg" alt="Card image cap">
  </div>
  <div class="mb-3 pics animation all 1">
    <img class="img-fluid" src="/imgs/feet.JPG" alt="Card image cap">
  </div>
  <div class="mb-3 pics animation all 1">
    <img class="img-fluid" src="/imgs/flower-purp-long.JPG" alt="Card image cap">
  </div>
  <div class="mb-3 pics animation all 2">
    <img class="img-fluid" src="/imgs/jelly-yellow.JPG" alt="Card image cap">
  </div>
  <div class="mb-3 pics animation all 2">
    <img class="img-fluid" src="/imgs/jelly-green.JPG" alt="Card image cap">
  </div>
  <div class="mb-3 pics animation all 1">
    <img class="img-fluid" src="/imgs/flower-yellow.JPG" alt="Card image cap">
  </div>
</div>

<%- include("partials/footer") %>
